* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #c5e0f9; */
  background-color: white;
}

body {
  margin: 0;
}

.container {
  text-align: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;

  max-width: 1000px;
  min-height: 600px;
  margin: 30px auto;
  
  overflow: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid steelblue;
}

.react-icons {
  vertical-align:text-bottom;
}

.header {
  flex-shrink: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size:xx-large;
}

.logo {
  color: red;
  stroke-width: 3;
  margin-right: 50px;
}

h1 {
  font-family: "Copperplate", "fantasy";
}

.main {
  flex-grow: 1;
}

.search-city-form-main {
  display: inline-block;
  vertical-align: middle; 
  min-width: 55%;
  margin-top: 100px;
  font-size: x-large;
}

.search-city-form-main label {
  display: block;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 15px;
}

.search-box {
  display: inline-block;
  vertical-align: middle; 
  min-width: 100%;
  color: #fff;
  padding: 10px;
  border: 2px solid black ;
  border-radius: 5px;
} 

.search-city-form-main input{
  border:none;
  border-bottom: 1px solid lightgray;
  min-width: 92%;
  font-size: 0.8em;
}

.btn {
  display: inline-block;
  color: #fff;
  border: none;

}

.search-box  .btn{
  padding-left: 10px;
}

footer {
    flex-shrink: 0;
}

